<div>
<div class="container">
  <h1>Pet Details</h1>
  <form [formGroup]="vetForm" #vetInsuranceForm="ngForm" (ngSubmit)="Submit()">
    <mat-form-field>
      <mat-label>Customer First Name</mat-label>
      <input formControlName="custFirstNameControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Last Name</mat-label>
      <input formControlName="custLastNameControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Date of Birth</mat-label>
      <input formControlName="custDobControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Insurance Provider</mat-label>
      <input formControlName="custProviderControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Customer Policy Number</mat-label>
      <input formControlName="custPolicyNumControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pet Name</mat-label>
      <input formControlName="petNameControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Species</mat-label>
      <mat-select formControlName="speciesControl">
        <mat-option value="Male">Cat</mat-option>
        <mat-option value="Female">Dog</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input formControlName="ageControl" matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="petGenderControl">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <!-- <input formControlName="petGenderControl" matInput > -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Weight (kg)</mat-label>
      <input formControlName="petWeightControl" matInput >
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-label>Care</mat-label>
      
      <input
        name="currentCare"
        placeholder="New Care..."
        #careInput
        [(ngModel)]="currentCare"
        [ngModelOptions]="{standalone: true}"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        @for (care of filteredCare(); track care) {
          <mat-option [value]="care">{{care}}</mat-option>
        }
      </mat-autocomplete>
      <mat-chip-grid #chipGrid aria-label="Fruit selection">
        @for (care of cares(); track $index) {
          <mat-chip-row (removed)="remove(care)">
            {{care}}
            <button matChipRemove [attr.aria-label]="'remove ' + care">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
      </mat-chip-grid>
    </mat-form-field>
    <button mat-flat button type="submit">Submit</button>
  </form>
</div>
@if (chatGptMessage.length > 0){
  <div class="container">
    <h1>The ChatGPT calculated cost is: ${{this.chatGptMessage}}</h1>
  </div>
}
</div>